<!--

  KNX nodes for IBM's Node-Red
  https://bitbucket.org/ekarak/node-red-contrib-knxjs
  (c) 2016, Elias Karakoulakis <elias.karakoulakis@gmail.com>

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->

<script type="text/javascript">

function processCsv(allText) {
  var allTextLines = allText.split(/\r\n|\n/);
  var headers = allTextLines[0].split(',');
  var lines = [];

  for (var i=1; i<allTextLines.length; i++) {
    var data = allTextLines[i].split(',');
    if (data.length == headers.length) {

      var tarr = {};
      for (var j=0; j<headers.length; j++) {
         tarr[headers[j].slice(1,-1)] = data[j].slice(1,-1);
      }
      lines.push(tarr);
    }
  }
  return lines;
}

var selectedFile;

// dynamically show/hide configelements depending on input
function showConfigs() {
  if ($('#node-input-mode').val() == "manual") {
    $('.knxmanualvals').show();
    $('.knxcsv').hide();
    $('.knxcsvvals').hide();
    $('.knxcsvvalshint').hide();
  } else {
    $('.knxcsv').show();
    $('.knxmanualvals').hide();
    if (($('#node-input-controller').val() == "_ADD_") ||
      ($('#node-input-groupaddresses').val() == "_ADD_")) {
        $('.knxcsvvalshint').show();
        $('.knxcsvvals').hide();
    } else {
      $('.knxcsvvalshint').hide();
      $('.knxcsvvals').show();
    }
  }
}

function refreshGADropdown() {
  var previous = null;
  // get the config node using the ID:
  var configNode = RED.nodes.node($('#node-input-groupaddresses').val());
  if (configNode) {
    // parse csv and generate a groupaddresses array:
    var csv = processCsv(configNode.csv);
    for (var c=0; c<csv.length; c++) {
      if (csv[c].Address.match(/\d+\/\d+\/\d+/)) {
        var option = {
          value: csv[c].Address,
          text : csv[c].Address + ' - ' + $('<div/>').text(csv[c]['Group name']).html()
        }
        // populate group addresses to select box:
        $('#node-input-groupvalues-list').append($('<option>', option));
        $('#node-input-statusgroupvalues-list').append($('<option>', option));
      }
    }
  }
}
</script>

<script type="text/x-red" data-template-name="ets-csv-export">
  <div class="form-row">
    <label for="csvfile"><i class="icon-bookmark"></i>CSV export file</label>
    <input  id="csvfile" type="file" style="width:70%"><br/>
  </div>
  <div class="form-row">
    <label for="node-config-input-encoding"><i class="icon-bookmark"></i>CSV file encoding</label>
    <select id="node-config-input-encoding" style="width:70%">
      <option value="utf-8">UTF-8</option>
      <option value="utf-16">UTF-16</option>
      <option value="iso-8859-1">ISO8859-1: Latin-1 Western European</option>
      <option value="iso-8859-2">ISO8859-2: Latin-2 Central European</option>
      <option value="iso-8859-3">ISO8859-3: Latin-3 South European</option>
      <option value="iso-8859-4">ISO8859-4: Latin-4 North European</option>
      <option value="iso-8859-5">ISO8859-5: Latin/Cyrillic</option>
      <option value="iso-8859-6">ISO8859-6: Latin/Arabic</option>
      <option value="iso-8859-7">ISO8859-7: Latin/Greek</option>
      <option value="iso-8859-8">ISO8859-8: Latin/Hebrew</option>
      <option value="iso-8859-9">ISO8859-9: Latin-5/Turkish</option>
      <option value="iso-8859-10">ISO8859-10: Latin-6/Nordic</option>
      <option value="iso-8859-11">ISO8859-11: Latin/Thai</option>
      <option value="windows-1250">CP1250: Windows Central and East European</option>
      <option value="windows-1251">CP1251: Windows Cyrillic</option>
      <option value="windows-1252">CP1252: Windows West European</option>
      <option value="windows-1253">CP1253: Windows Greek</option>
      <option value="windows-1255">CP1255: Windows Hebrew</option>
      <option value="windows-1256">CP1256: Windows Arabic</option>
      <option value="windows-1257">CP1257: Windows Baltic</option>
      <option value="windows-1258">CP1258: Windows Vietnamese</option>
    </select>
  </div>
  <div class="form-row">
    <pre>Group, Address, Central, Unfiltered, Description, DatapointType</pre>
    <textarea rows=20 id="node-config-input-csv" style="width:100%">
  </div>
</script>

<script type="text/x-red" data-template-name="knx-device">
<div class="form-row">
  <label for="node-input-name"><i class="icon-bookmark"/>Name</label>
  <input type="text" id="node-input-name">
</div>
  <div class="form-row">
    <label for="node-input-mode"><i class="icon-tag"/>Definition Mode</label>
    <select id="node-input-mode" style="width:70%">
      <option value="manual" selected="true">Manual</option>
      <option value="csv">CSV</option>
    </select>
  </div>
  <div class="form-tips knxcsvvalshint">
    <b>Tip:</b> You must set both the Connection and the Group Address CSV to choose a GA.
  </div>
  <div class="form-row">
    <label for="node-input-controller"><i class="icon-bookmark"/>Connection</label>
    <input type="text" id="node-input-controller">
  </div>
  <div class="form-row knxcsv">
    <label for="node-input-groupaddresses"><i class="icon-bookmark"/>Group Address CSV</label>
    <input  id="node-input-groupaddresses" type="text" />
  </div>
  <div class="form-row knxmanualvals">
    <label for="node-input-groupaddress"><i class="icon-bookmark"/>Group Address</label>
    <input  id="node-input-groupaddress" type="text" />
  </div>
  <div class="form-row knxcsvvals">
    <label for="node-input-groupvalues-list"><i class="icon-bookmark"/>Group Address</label>
    <select id="node-input-groupvalues-list" style="width:70%"/>
  </div>
  <div class="form-row knxmanualvals">
    <label for="node-input-statusga"><i class="icon-bookmark"/>Status GA</label>
    <input  id="node-input-statusga" type="text" />
  </div>
  <div class="form-row knxcsvvals">
    <label for="node-input-statusgroupvalues-list"><i class="icon-bookmark"/>Status GA</label>
    <select id="node-input-statusgroupvalues-list" style="width:70%"/>
  </div>
  <div class="form-row ">
    <label for="node-input-dpt"><i class="icon-bookmark"/>DPT</label>
    <select id="node-input-dpt" style="width:70%">
      <option value="DPT1">DPT1 (1-bit boolean)</option>
      <option value="DPT3">DPT3 (4-bit dimming/shutter)</option>
      <option value="DPT5">DPT5 (8-bit unsigned: 0..255)</option>
      <option value="DPT6">DPT6 (8-bit signed: -127..128)</option>
      <option value="DPT7">DPT7 (16-bit unsigned: 0..65536)</option>
      <option value="DPT8">DPT8 (16-bit signed: -32767..32768)</option>
      <option value="DPT9">DPT9 (16-bit floating point)</option>
      <option value="DPT10">DPT10 (3-byte: time)</option>
      <option value="DPT11">DPT11 (3-byte: date)</option>
      <option value="DPT12">DPT12 (4-byte unsigned)</option>
      <option value="DPT13">DPT13 (4-byte signed)</option>
      <option value="DPT14">DPT14 (32-bit floating point)</option>
      <option value="DPT19">DPT19 (8-byte date &amp; time)</option>
    </select>
  </div>
</script>

<script type="text/x-red" data-help-name="knx-device">
  <p>A simple node for group address selection</p>
</script>

<script type="text/x-red" data-help-name="ets-csv-export">
  <p>Please export your group addresses in CSV format from KNX ETS with the following settings:</p>
  <ul>
    <li>1/1 Name/Address</li>
    <li>Seperator: comma  like ","</li>
    <li>Header line: (checked)</li>
  </ul>
  <pre>"Group name","Address","Central","Unfiltered","Description","DatapointType"</pre>
</script>


<script type="text/javascript">

// =======================================
RED.nodes.registerType('ets-csv-export',{
// =======================================
  category: 'config',
  defaults: {
    name: {value:""},
    csv:  {value:"",  required:true}
  },
  label: function() {
    return (this.name || "Please upload a CSV export from ETS...");
  },
  oneditprepare: function() {
    var node = this;
    $("#csvfile, #node-config-input-encoding").on('change', function(event) {
      if (event.target && event.target.files && event.target.files.length > 0) {
        selectedFile = event.target.files[0];
        node.name = selectedFile.name;
        $('#node-config-ets-csv-export-csvfile').val(selectedFile.name);
      }
      if (selectedFile) {
        var reader = new FileReader();
        reader.onload = function(event) {
          $('#node-config-input-csv').val(event.target.result);
        };
        reader.readAsText(selectedFile, $('#node-config-input-encoding :selected').val());
      }
    });
  }
});

// =======================================
RED.nodes.registerType('knx-device',{
// =======================================
  category: 'home automation',
  color: '#00cc00',
  defaults: {
    controller:     {value:"", type:"knx-controller"},
    mode:           {value:"manual"},
    groupaddresses: {value:"",
      type: "ets-csv-export",
      validate: function() {
        return this.mode == "manual" || this.groupaddresses != ""
      }} ,
    name:           {value:""},
    groupaddress:   {value:"", required: true},
    statusga:       {value:""},
    dpt:            {value:"DPT1"}
  },
  inputs:1,
  outputs:1,
  icon: "knx.png",
  label: function() {
    return this.name || "knx-device";
  },
  oneditprepare: function() {
    var node = this;
    showConfigs();
    refreshGADropdown();
    // show config ga & status ga ONLY if both configs are set
    $("#node-input-mode, #node-input-controller, #node-input-groupaddresses").on('change', function() {
      showConfigs();
      refreshGADropdown();
    });
    $("#node-input-groupvalues-list, #node-input-statusgroupvalues-list").on('change', function(event) {
      $('#node-input-groupaddress').val( $('#node-input-groupvalues-list').val() );
      $('#node-input-statusga').val( $('#node-input-statusgroupvalues-list').val() );
    });
    // set selected option, if GA is set already
    if (this.groupaddress && this.groupaddress != "") {
      $('#node-input-groupvalues-list').val(this.groupaddress);
    }
    if (this.statusga && this.statusga != "") {
      $('#node-input-statusgroupvalues-list').val(this.statusga);
    }
  },
  oneditsave: function() {
    if ($('#node-input-name').val() == '') {
      // if user supplied no name, ue the GA description as fallback
      var fallback = $('#node-input-groupvalues-list option:selected').text()
      $('#node-input-name').val(fallback);
    }
  }
});
</script>
